.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-primary);
  z-index: 10;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}

.header-logo {
  display: block;
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
}

.hamburger-button span {
  width: 24px;
  height: 2px;
  background: black;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.hamburger-button.active span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger-button.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-button.active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.nav-menu {
  top: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  visibility: hidden;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  background: white;
  row-gap: 20px;
  padding: 16px 32px;
  border-top: 1px solid black;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition:
    visibility 0.3s ease,
    opacity 0.3s ease;
}

.hamburger-menu.active {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu-a {
  color: black;
  text-decoration: none;
}

.hamburger-menu li {
  list-style: none;
}

.button-request {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: white;
  border: 1px solid black;
  padding: 10px 15px;
  width: 165px;
  height: 46px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  .button-request {
    transition:
      background 0.3s ease,
      color 0.3s ease;
  }

  .button-request:hover {
    background: #000000;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .header .container {
    column-gap: 25px;
  }

  .nav-menu {
    position: static;
    width: auto;
    visibility: visible;
  }

  .hamburger-menu {
    flex-direction: row;
    row-gap: 0;
    column-gap: 15px;
    border-top: none;
    width: auto;
    align-items: center;
    padding: 0;
    opacity: 1;
    visibility: visible;
  }

  .button-request {
    width: 140px;
    height: 40px;
    padding: 0px 0px;
  }
  .hamburger-button {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hamburger-menu {
    column-gap: 30px;
  }
  .button-request {
    width: 190px;
    height: 46px;
    padding: 15px 22px;
  }
}
