# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Vite
.vite/

# Compiled output
/dist
build/
.cache/
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
*.log
npm-debug.log*
.env
.env.local
.env.*.local

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
*.swp
*.swo
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
desktop.ini

# Testing
/coverage/
/test-results/
/playwright-report/
/blob-report/

# Vercel
.vercel
