<section class="team">
  <div class="container">
    <div class="section-title">
      <h2 class="section-title-text">
        <span class="section-title-span">Team</span>
      </h2>
      <p class="section-description-text">
        Meet the skilled and experienced team behind our successful digital marketing strategies
      </p>
    </div>
    <div class="team-card-group">
      @for (team of members(); track team.name) {
        <app-team-card [member]="team" (socialClick)="onSocialClick($event)" />
      }
    </div>
    <div class="action-all-team">
      <button type="button" class="button-all-team button-transition-green">See all team</button>
    </div>
  </div>
</section>
