<section class="cta">
  <div class="container">
    <div class="cta-inner">
      <div class="cta-content">
        <h3 class="cta-title">Let’s make things happen</h3>
        <p class="cta-description">
          Contact us today to learn more about how our digital marketing services can help your
          business grow and succeed online.
        </p>
        <button type="button" class="button-cta button-transition-green">
          Get your free proposal
        </button>
      </div>
      <img class="cta-image" src="img/illustrations/lets-make.things.webp" loading="lazy" alt="" />
    </div>
  </div>
</section>
