<section class="hero">
  <div class="container">
    <div class="hero-info">
      <h1 class="hero-title">Navigating the digital landscape for success</h1>
      <p class="hero-description">
        Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO,
        PPC, social media marketing, and content creation.
      </p>
      <a
        href="https://github.com/Hihiz/positivus-landing-page"
        rel="noopener noreferrer"
        target="_blank"
        class="button-hero button-transition-green"
      >
        Book a consultation
      </a>
      <img src="/img/illustrations/Illustration.webp" alt="" fetchpriority="high" width="601" height="515" />
    </div>
  </div>
</section>
